*{
    margin: 0;
    padding: 0;
}
/* .container{
    display: table;
}  */

.box{
    width: 400px;
    height: 330px;
    background-color:white;
    padding: 5px;
    border-radius: 2%;
    /* text-align: center; */
  /* overflow-x: hidden ;  */
    margin: auto; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    flex: 1;
    justify-content: center;
   
}
img{
    height: 90px;
    width: 250px;
}
/* h2{
    margin-top: 10px;
    margin-bottom:10px;
} */
.row{
     text-align: center;
     margin-top: 5px;
}

/* 输入框 */
.input-group{
    margin: 20px auto;
    text-align: center;
    width: 320px;
    border-radius: 1%;
}
.btn-group{
    width: 320px; 
    text-align: center;
    margin-left: 35px;
}
.btn.btn-default.btn-block{
    background-color:dodgerblue;
    color: white;  
    border-color: dodgerblue;
}

.register{
    width: 160px;
    float: right;
    margin-top: 20px;
    margin-right:40px;
    text-align: right;

}

.footer{
    text-align: center;
    margin-top: 700px;
    color: grey;
}